* {
  margin: 0;
  padding: 0;
}

.main_background {
  width: 100%;
  min-height: 100vh;
  height: auto;
  background-image: linear-gradient( 135deg, #B3B3B3 10%, 40%, #422121 100%);
  font-family: 'Roboto', sans-serif;
}

.main_content {
  width: auto;
  text-align: center;
}

.main_header {
  font-size: 60px;
  padding-top: 50px;
  padding-bottom: 30px;
  color: #fff;
}

.inputs_wrapper {
  width: 450px;
  height: 40px;
  margin: 0 auto;
}

.input_tooltip {
  opacity: 0;
  position: absolute;
  width: 200px;
  height: 40px;
  background-color: #fff;
  font-size: 20px;
  border-radius: 20px;
  right: 320px;
  top: 100px;
  color: #422121;
  padding-top: 7px;
  box-sizing: border-box;
  font-style: italic;
  font-weight: bold;
  transition: opacity 300ms linear;
}

.show_tooltip {
  opacity: 1;
}

.main_input {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 20px;
  outline: none;
  padding-left: 20px;
  padding-right: 40px;
  box-sizing: border-box;
  font-size: 20px;
  transition: all 300ms ease-in-out;
}

.empty_input {
  border: 1px solid #fff;
  background-color: #422121;
  color: #fff;
}

.icon_input {
  position: relative;
  top: -35px;
  left: 205px;
}

.tasks_header {
  color: #fff;
  font-size: 30px;
  margin-top: 30px;
  text-decoration: underline;
}

.list_wrapper {
  width: auto;
  height: auto;
  margin: 20px auto 0;
  padding-bottom: 70px;
}

.list_item {
  width: 450px;
  min-height: 40px;
  height: auto;
  border-radius: 20px;
  background-color: #fff;
  margin: 20px auto;
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
  transition: all 300ms ease-in-out;
  opacity: 1;
}

.checked {
  text-decoration: line-through;
  background-color: #ccc;
}

.flex_list_items {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.list_checkbox {
  width: 25px;
  height: 25px;
  border: 2px solid #666;
  border-radius: 50%;
  box-sizing: border-box;
  background-color: #fff;
  margin-right: 10px;
  cursor: pointer;
}

.checkbox_on {
  background-color: #666;
}

.list_item_text {
  width: 360px;
  height: auto;
  font-size: 18px;
  overflow-x: hidden;
  cursor: pointer;
}

.list_item_trash {
  width: 25px;
  height: 25px;
  margin-left: auto;
}

.deletion {
  opacity: 0;
}


@media (max-width: 460px) {

  .inputs_wrapper {
    width: calc(100% - 20px);
  }

  .icon_input {
    left: 130px;
  }

  .list_item {
    width: calc(100% - 20px);
  }

  .list_item_text {
    width: calc(100% - 60px);
  }

}
